<div class="fondo-izquierda">
    <!-- Todo aqui va centrado -->
    <div class="center-screen">
        <div class="row">
            <!-- Logo centrado -->
            <div class="col s12">
                <img class="logo" src="assets/logo.png" alt="logo">
            </div>
            <!-- Animación de carga -->
            <div class="col s12">
                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="col s12">
                <a class="waves-effect waves-light btn azul-tech-potions" href="mailto:hola@tech-potions.com?subject=Hola&body=Me gustaría saber de sus servicios"><i class="material-icons right">email</i>Contactanos</a>
            </div>
        </div>
    </div>
</div>